<launch>

  <arg name="gui" default="true"/>
  
  <include file="$(find pcl_tools)/launch/pointcloud_karage.launch">
    <arg name="gui" value="false"/>
  </include>

  <!--node pkg="pcl_graph_cut" type="graph_cut_ros" name="graph_cut_ros" output="screen" launch-prefix="valgrind"-->
  <node pkg="pcl_graph_cut" type="graph_cut_ros" name="graph_cut_ros">
    <param name="input_topic_name" value="karage_points"/>
    <param name="output_topic_name" value="graph_cut_points"/>
  </node>

   <node name="detect_graspable_poses_pcabase"
        pkg="pcl_tools" type="get_highest_pos_multi.py" output="screen" >
    <remap from="~input" to="index_cloud" />
    <remap from="~output" to="highest_poses" />
    <rosparam subst_value="true">
      hand_size: 0.10
      deep_z: 0.03
    </rosparam>
  </node>

   <node name="posearray_clipper"
        pkg="pcl_tools" type="posearray_clipper.py" output="screen" >
    <remap from="~input" to="highest_poses" />
    <remap from="~output" to="clipped_poses" />
    <rosparam subst_value="true">

      initial_pos: [0.1, 0, 0]
      initial_rot: [0, 0, 0]
      dimension_x: 0.15
      dimension_y: 0.27
      dimension_z: 0.2

      frame_id: base_link

    </rosparam>
  </node>

   <node name="posearray_selector"
        pkg="pcl_tools" type="posearray_selector.py" output="screen" >
    <remap from="~input" to="clipped_poses" />
    <rosparam subst_value="true">

      frame_id: base_link

    </rosparam>
  </node>



  <group if="$(arg gui)">
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcl_graph_cut)/rviz/demo_karage.rviz" required="true" />
  </group>

</launch>
